@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400");

/*=== general ===*/
:root {
  --light-color: #e4e3dd;
  --dark-color: #242418;
  --fire1-color: #d32f2f;
  --fire2-color: #FF5722;
  --fire3-color: #FFC107;
  --fire4-color: #FFEB3B;
  --ice4-color: #a0e5ee;
  --ice3-color: #55c1f6;
  --ice2-color: #207bcf;
  --ice1-color: #264582;
}

html {
  box-sizing: border-box;
  width: 100%;
    height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  line-height: 1.4;
  width: 100%;
    height: 100%;
}

main {
  padding: 0.5em;
  margin: 0 auto;
  text-align: center;
}

.container--front-page {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.body-overflow {
  overflow: hidden;
}

.btn {
  font-size: 1.2em;
  font-weight: 700;
  display: block;
  width: 100%;
  border: 0;
  padding: 0.5em;
  margin: 0.4em 0;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.btn:focus {
  outline-color: #eee;
  outline-width: 3px;
  outline-style: outset;
}

.btn:hover,
.btn:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.3);
  transition-delay: 0s;
}

.btn--close {
  width: 48px;
  height: 48px;
  background: #000;
  color: #fff;
  text-shadow: none;
  border-radius: 100%;
  font-size: 35px;
  padding: 0;
  margin: 0.5rem;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 9999;
}


/*=== header ===*/
header {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.header__title {
  color: #fff;
  background: var(--dark-color);
  font-size: 2em;
  padding: 0.5em;
  text-align: center;
  margin: 0 auto;
}

.header__info {
  color: var(--dark-color);
  font-size: 1.5em;
  padding: 0.1em;
  text-align: center;
  margin: 0 auto;
}

.header__img {
  width: 170px;
  display: flex;
  padding: 0.5em;
  border-radius: 100%;
  text-align: center;
  margin: 0 auto;
}

.greeting {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0px auto;
  color: var(--dark-color);
  padding: 0.1em;
  font-size: 2em;
}


/*=== main ===*/
.main__content {
  display: grid;
  font-weight: 300;
  font-size: 1.2em;
  text-align: justify;
}

.main__content__p {
  margin: 1em 0;
}

.btn--fast {
  background: var(--fire1-color);
  color: #fff;
}

.btn--integrated {
  background-color: var(--fire2-color);
  color: white;
}

.btn--reliable {
  color: black;
  background-color: var(--fire3-color);
}

.btn--engaging {
  color: black;
  background-color: var(--fire4-color);
}

.btn--work {
  background: var(--ice4-color);
  color: #000;
}

.btn--skills {
  background: var(--ice3-color);
  color: #000;
}

.btn--certs {
  background: var(--ice2-color);
  color: #fff;
}

.btn--about {
  background: var(--ice1-color);
  color: #FFF;
}


/*=== modals ===*/
.modal {
  position: fixed;
  z-index: 1111;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  font-weight: 700;
  font-size: 1.5em;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  text-align: center;
  vertical-align: middle;
}


/* FIRE modals */
.modal--fire {
  display: grid;
  grid-template-columns: 1fr;
  padding: 1em;
}

.fire-style {
  align-self: center;
  margin: 0 auto;
  max-width: 1000px;
}

.fast-style {
  background: var(--fire1-color);
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
.integrated-style {
  background: var(--fire2-color);
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
.reliable-style {
  background: var(--fire3-color);
  color: #000;
  text-shadow: 1px 1px 1px #fff;
}
.engaging-style {
  background: var(--fire4-color);
  color: #000;
  text-shadow: 1px 1px 1px #fff;
}


/* work section */
.work-modal {
  background: #fff;
}

.work-modal__content {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.work-modal__content__project {
  padding: 0.5rem;
}

.work-modal__header {
  padding: 1rem;
  background: var(--ice4-color);
  font-size: 1.5rem;
}

.work-modal__content__project__header {
  font-size: 1.4rem;
}

.work-modal__content__project__description {
  font-size: 1.1rem;
}

.work-modal__content__project__link {
  font-size: 1.4rem;
  padding: 0 1rem;
}


/* skills section */
.skills-modal {
  background: #FFF;
}

.skills-modal__header {
  padding: 1rem;
  background: var(--ice3-color);
  font-size: 1.5rem;
}

.skills-modal__content__header {
  background: var(--ice2-color);
  color: #fff;
  padding: 0.1rem;
  font-size: 1.3rem;
}

.skills-modal__content__skills {
  font-size: 1.1rem;
}


/* certs section */
.certs-modal {
  background: #FFF;
}

.certs-modal__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.certs-modal__header {
  padding: 1rem;
  background: var(--ice2-color);
  color: #fff;
  font-size: 1.5rem;
}

.certs-modal__content__link {
  align-self: center;
}

.certs-modal__content__img {
  width: 100%;
}


/* about section */
.about-modal {
  background: #FFF;
}

.skills-modal__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.about-modal__header {
  padding: 1rem;
  background: var(--ice1-color);
  color: #fff;
  font-size: 1.5rem;
}

.about-modal__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.about-modal__content__p {
  font-size: 1.1rem;
  font-weight: initial;
  text-align: justify;
  padding: 1rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  align-self: center;
}

.about-modal__content__img {
  width: 100%;
  max-width: 400px;
  justify-self: center;
}


/*=== footer ===*/
footer {
  max-width: 900px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 1em auto;
}

.social-media-icon {
  width: 48px;
  justify-self: center;
  display: grid;
  align-self: center;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
}

.social-media-icon:focus {
  outline-color: #eee;
  outline-width: 3px;
  outline-style: outset;
}

.social-media-icon:hover,
.social-media-icon:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.3);
  transition-delay: 0s;
}


/* links */
:link,
:visited {
  text-decoration: none;
  font-weight: 400;
  color: var(--ice1-color);
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}


/*=== media queries ===*/
/* Greater than 899px */
@media screen and (min-width: 900px) {

  /* general */
  main {
    width: 900px;
  }

  .body-overflow {
    overflow: auto;
  }


  /* skills */
  .skills-modal__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .skills-modal__content__header {
    background: var(--ice2-color);
    padding: 0.2rem;
    align-self: start;
  }

  .languages-header {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .languages-paragraph {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .libraries-header {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .libraries-paragraph {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .automation-header {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .automation-paragraph {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .colaboration-header {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .colaboration-paragraph {
    grid-column: 2/3;
    grid-row: 4/5;
  }

  .design-header {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  .design-paragraph {
    grid-column: 1/2;
    grid-row: 6/7;
  }

  .production-header {
    grid-column: 2/3;
    grid-row: 5/6;
  }

  .production-paragraph {
    grid-column: 2/3;
    grid-row: 6/7;
  }


  /* work */
  .work-modal__content {
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
  }


  /* about */
  .about-modal__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .gwg-img {
    grid-row: 2/3;
  }

  .gwg-p {
    grid-column: 2/3;
  }
}


/* Greater than 1399px */
@media screen and (min-width: 1400px) {

  /* work */
  .work-modal__content {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1800px;
  }


  /* certs */
  .certs-modal__content {
    padding: 1rem;
    grid-template-columns: 1fr 1fr;
  }

  .certs-modal__content__img {
    padding: 1rem;
  }
}